body {
  margin: 0;
  background-color: var(--base-color);
  color: white;
  overflow: hidden;
}
.draggNone {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
div:focus-visible {
  outline: none;
}
:root {
  --base-color: #313131;
  --bar-color: #393939;
  --tool-color: #068fff;
  --shorcut-color: #d8d8d8;
  --ruler-size: 1rem;
}
li {
  list-style: none;
  height: 2rem;
  line-height: 2rem;
  white-space: nowrap;
  padding: 0 0.5rem 0 0.75rem;
}
ul {
  padding: 0;
}
/* 상단 메뉴 바 */
.menu {
  margin: 0;
  z-index: 6;
  width: 100%;
  height: 2rem;
  position: relative;
  background-color: var(--bar-color);
  & > li {
    float: left;
    position: relative;
    cursor: default;
    &:first-child {
      margin-left: 2.5rem;
    }
    &.active,
    &.active:hover {
      background-color: white;
      color: black;
    }
    & > button {
      cursor: pointer;
      background-color: var(--base-color);
      color: white;
      width: 100%;
      height: 100%;
    }
    & + & {
      margin-left: 1rem;
    }
    &.active > .menu-list {
      box-shadow: 5px 5px 5px -7px;
      display: block;
    }
    .menu-list {
      display: none;
      position: absolute;
      background-color: white;
      border-radius: 0.25rem;
      border-top-left-radius: 0;
      color: black;
      left: 0;
      padding: 0.25rem 0;
      & > li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
        &:hover {
          cursor: pointer;
          background-color: rgba(0, 0, 0, 0.1);
        }
        & > input[type="checkbox"] {
          background-color: transparent;
          border: none;
          margin: 0;
          color: var(--tool-color);
          &:checked {
            background-color: transparent;
          }
        }
        & > label {
          display: inline;
        }
        & .shortcut {
          margin-left: 0.5rem;
          padding: 0.1rem 0.5rem;
          height: 60%;
          font-size: 0.8rem;
          line-height: calc(2rem * 0.6);
          background-color: var(--shorcut-color);
          border-radius: 0.1rem;
          display: inline;
          position: relative;
          /* & > svg {
            line-height: 2rem;
            height: 1rem;
            display: block;
          } */
        }
      }
    }
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}
.width-fill {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: calc(100vh - 2rem);
  position: relative;
  z-index: 5;
}
/* 좌측 툴바 */
.tool {
  display: flex;
  flex-direction: column;
  width: 2rem;
  flex-shrink: 0;
  height: 100%;
  padding: 0 0.25rem;
  background-color: var(--bar-color);
  & > .tool-button {
    width: 100%;
    cursor: pointer;
    line-height: 2rem;
    text-align: center;
    transform: scale(0.8);
    &.mirror {
      transform: scale(-0.8, 0.8);
    }
    & > svg {
      transform: scale(0.8);
      height: 90%;
      width: 90%;
      fill: rgba(255, 255, 255, 0.7);
    }
    &:hover > svg {
      fill: rgba(255, 255, 255, 1);
    }
    &.active > svg {
      fill: var(--tool-color);
    }
    &:hover,
    &.active {
      transform: scale(1);
      &.mirror {
        transform: scale(-1, 1);
      }
    }
  }
  & > .tool-color {
    width: 100%;
    height: 2rem;
    position: relative;
    & > .color-fill,
    & > .color-stroke {
      position: absolute;
      overflow: hidden;
      width: 60%;
      height: 60%;
      border: 1px solid black;
      z-index: 0;
      &.active {
        z-index: 1;
      }
      &.null {
        &::after {
          width: 200%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
          content: "";
          box-sizing: border-box;
          border-top: 1px solid red;
        }
      }
    }
    & > .color-fill {
      top: 0;
      left: 0;
    }
    & > .color-stroke {
      bottom: 0;
      right: 0;
      box-sizing: border-box;
      & > .fill {
        width: 40%;
        height: 40%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid black;
        background-color: var(--bar-color);
      }
    }
  }
}
/* 컬러피커 */
.color-picker {
  position: absolute;
  left: 2.5rem;
  bottom: 2rem;
  background-color: var(--bar-color);
  border: 1px solid var(--shorcut-color);
  padding: 1rem;
  height: 256px;
  flex-direction: row;
  gap: 0.75rem;
  z-index: 5;
  display: none;
  .sb {
    width: 256px;
    height: 100%;
    background-color: white;
    position: relative;
    .arrow {
      position: absolute;
      border: 2px solid white;
      width: 1rem;
      height: 1rem;
      border-radius: 1rem;
      box-sizing: border-box;
      top: 0;
      left: 0;
      transform-origin: center center;
    }
  }
  .c {
    width: 1.25rem;
    height: 100%;
    position: relative;
    background: linear-gradient(
      to bottom,
      hsl(0, 100%, 50%),
      hsl(60, 100%, 50%),
      hsl(120, 100%, 50%),
      hsl(180, 100%, 50%),
      hsl(240, 100%, 50%),
      hsl(300, 100%, 50%),
      hsl(360, 100%, 50%)
    );
    .arrow {
      position: absolute;
      width: 100%;
      box-sizing: border-box;
      border-top: 1px solid black;
      cursor: s-resize;
      &::before,
      &::after {
        content: "";
        position: absolute;
      }
      &::before {
        left: 0;
        top: -4px;
        width: 0px;
        height: 0px;
        border-left: 6px solid white;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
      }
      &::after {
        right: 0;
        top: -4px;
        width: 0px;
        height: 0px;
        border-right: 6px solid white;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
      }
    }
  }
  .info {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    justify-content: space-between;
    gap: 1rem;
    & > fieldset {
      margin: 0;
      border-radius: 0.25rem;
      padding: 0.25rem 0.75rem;
      & > input {
        font-size: 1rem;
        background-color: transparent;
        border: none;
        color: white;
        width: 7rem;
        &:focus-visible {
          outline: none;
        }
      }
      & > .color {
        height: 1.25rem;
      }
    }
  }
  &.open {
    display: flex;
  }
}
.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.canvas {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  display: flex;
  &::-webkit-scrollbar {
    width: 0.8rem;
    height: 0.8rem;
    padding: 0.1rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.8);
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
  }
  & > .ruler {
    width: 100%;
    height: 100%;
    position: absolute;
    & > .horizontal,
    & > .vertical {
      position: absolute;
      background-color: white;
    }
    & > .horizontal {
      width: 100%;
      height: var(--ruler-size);
    }
    & > .vertical {
      height: 100%;
      width: var(--ruler-size);
    }
  }
  & > .svg-canvas {
    display: flex;
    margin: auto;
    & > svg {
      background-color: white;
      margin: auto;
      & > *.active {
        border: 1px solid #000;
      }
    }
  }
  &.select {
    cursor: default;
  }
  &.text {
    cursor: text;
  }
  &.zoom {
    cursor: zoom-in;
    &.alt {
      cursor: zoom-out;
    }
  }
}
.canvas-footer {
  text-align: right;
  flex-shrink: 0;
  height: 1rem;
  padding: 0.25rem 0.75rem;
}
.panel {
  height: 100%;
  width: 20rem;
  background-color: var(--bar-color);
  & > div {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.3rem;
  }
  & label {
    display: block;
    font-size: 1.1rem;
    width: 100%;
    &::first-letter {
      text-transform: uppercase;
    }
  }
  & .input-group {
    padding: 0.75rem 1.25rem;
    border: 1px solid white;
    border-radius: 0.25rem;
    background-color: rgba(255, 255, 255, 0.1);
  }
  & .row {
    display: flex;
    gap: 1rem;
    width: 100%;
    & .input-group {
      width: 100%;
    }
  }
  & .panel-input {
    background: transparent;
    border: none;
    width: 100%;
    color: var(--tool-color);
    font-size: 2rem;
    &:focus-visible {
      outline: none;
    }
    &[type="number"] {
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
}
